@import '../../styles/_grid.scss';
@import '../../styles/colors.scss';

.input {
  border-radius: 8px;
  height: 2rem;
  margin-bottom: 1rem;
  border: 1px solid $almost-black;
  padding: calc($spacingPiccolo / 2) $spacingPiccolo;
}

.label {
  text-align: left;
  margin-bottom: calc($spacingPiccolo / 2);
}
