/* SCSS HEX */
$tart-orange:  #C850C0;
$orange-yellow-crayola: #FFCC70;
$pacific-blue: #4158D0;

$gainsboro: #e6e6eaff;
$ghost-white: #f4f4f8ff;
$almost-black: #212a37ff;

$almost-black-shadow: rgba(33, 42, 55, 0.3);

$lightness-factor: 60%;

/* Lightner version*/
$orange-yellow-crayola-light: scale-color(
  $orange-yellow-crayola,
  $lightness: $lightness-factor
);

$tart-orange-light: scale-color($tart-orange, $lightness: $lightness-factor);

$pacific-blue-light: scale-color($pacific-blue, $lightness: $lightness-factor);

/* Darkness version*/
$orange-yellow-crayola-dark: scale-color(
  $orange-yellow-crayola,
  $lightness: -$lightness-factor
);

$tart-orange-dark: scale-color($tart-orange, $lightness: -$lightness-factor);

$pacific-blue-dark: scale-color($pacific-blue, $lightness: -$lightness-factor);

$primary-gradient: linear-gradient(43deg, $pacific-blue 0%, $tart-orange 46%, $orange-yellow-crayola 100%);

$primary-light-gradient: linear-gradient(43deg, #C850C0 10%, #FFCC70 68%)
