@import './colors';
@import './typography';
@import './grid';

:root {
  --tart-orange: #fe4a49;
  --orange-yellow-crayola: #fed766;
  --pacific-blue: #009fb7;
  --gainsboro: #e6e6ea;
  --ghost-white: #f4f4f8;
}
