@import './colors';
@import './typography';
@import './grid';

:root {
  --tart-orange: #fe4a49ff;
  --orange-yellow-crayola: #fed766ff;
  --pacific-blue: #009fb7ff;
  --gainsboro: #e6e6eaff;
  --ghost-white: #f4f4f8ff;
}
