---
title: "Player page"
import { Player } from "../components/Player/Player";
import Main from "../layout/main.astro";
---

<Main>
  <div class='ticketContent'>
    <Player client:load/>
  </div>
</Main>
