---
title: "Poll page"
import { Poll } from "../components/Poll/Poll";
import Main from "../layout/main.astro";
---

<Main>
  <h1 class='hGrande'>List of partecipants</h1>
  <Poll client:load/>
</Main>
