---
title: "Poll page"
import { Poll } from "../components/Poll/Poll";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Poll</title>
	</head>
	<body>
    <Poll client:load/>
	</body>
</html>
